.section-benefits {

    .front-page-header {
        gap: 150px;
    }

    .benefits-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;

        .benefit-card {
            background-color: var(--bg-color-section);
            padding: 40px 50px;
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            .benefit-card-content {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h4 {
                    font-size: 20px;
                    margin-bottom: 20px;
                    z-index: 2;
                    grid-column: 1;
                    grid-row: 1;
                }
                
                p {
                    font-size: 18px;
                    line-height: 30px;
                    grid-column: 2;
                    grid-row: 2;
                    z-index: 2;
                }

                .benefit-card-number {
                    position: absolute;
                    bottom: -100px;
                    left: 20px;
                    font-size: 300px;
                    font-weight: 700;
                    background: var(--gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0.9;
                    z-index: 1;
                }
            }
        }

        .benefit-card:nth-of-type(3),
        .benefit-card:nth-of-type(4) {
            h4 {
                grid-column: 2;
                grid-row: 1;
            }

            p {
                grid-column: 1;
                grid-row: 2;
            }

            .benefit-card-number {
                left: 150px;
            }
        }
    }

    .benefits-testimonies {
        margin-top: 100px;

        .testimonies-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .btn {
                border-radius: 100%;
                padding: 1em;
                cursor: pointer;
            }

            .btn-left {
                background: none;
                border: 1px solid #fff;
            }

            .btn-right {
                border: none;
            }

            .btn:disabled {
                opacity: .6;
                cursor: default;
            }

            .btn-left:disabled {
                background: inherit;
            }

            .btn-right:disabled {
                background: #fff;
            }
        }

        .testimony-card {
            background-color: var(--bg-color-section);
            padding: 70px;
            border-radius: 50px;
            width: 500px;
            min-height: 300px;

            h4 {
                font-size: 30px;
                text-transform: uppercase;
            }

            .testimony-card-content {
                font-size: 20px;
                margin: 50px 0;
            }

            .testimony-card-author {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 18px;
            }
        }

        .testimony-card:nth-of-type(2) {
            background-color: var(--accent);
        }

        .testimony-card:nth-of-type(3) {
            background-color: var(--gray);
            color: #000;
        }
    }
}

@media (max-width: 768px) {
    .section-benefits {
        .benefits-grid {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .benefit-card {
                padding: 30px;
                min-height: 250px;

                .benefit-card-content {
                    display: block;
                    z-index: 2;

                    h4 {
                        font-size: 25px;
                        z-index: 2;
                    }
                    
                    p {
                        font-size: 20px;
                        z-index: 2;
                    }

                    .benefit-card-number {
                        position: absolute;
                        bottom: -80px;
                        right: 0;
                        font-size: 250px;
                        background: var(--gradient-smooth);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0.5;
                        z-index: 1;
                    }
                    .benefit-card:nth-of-type(2),
                    .benefit-card:nth-of-type(4) {
                        .benefit-card-number {
                            right: -100px;
                        }
                    }
                }
            }
        }

        .benefits-testimonies {

            .front-page-subtitle {
                text-align: center;
            }
            
            .testimonies-btns {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
            }
        }
    }
}